/manosALaObra_ejercicio9/nbproject/private/
/manosALaObra_ejercicio9/build/
/manosALaObra_ejercicio10/nbproject/private/
/manosALaObra_ejercicio10/build/
/guia_3_ejrcicios/nbproject/private/
/guia_3_ejrcicios/build/
/manosALaObra_ejercicio13/nbproject/private/
/manosALaObra_ejercicio13/build/
/guia_5_arreglosEnJava_ejercicios/nbproject/private/
/guia_5_arreglosEnJava_ejercicios/build/
/POO_ejemplo_01/nbproject/private/
/POO_ejemplo_01/build/
/guia_7_ejercicio1_objetos/nbproject/private/
/guia_2_ejercicio_1_suma/nbproject/private/
/guia_2_ejercicio_1_suma/build/
/guia_2_ejercicio_2_nombreVariable/nbproject/private/
/guia_2_ejercicio_2_nombreVariable/build/
/guia_3_ejercicio_1_parOimpar/nbproject/private/
/guia_3_ejercicio_2_fraseEquals/nbproject/private/
/guia_3_ejercicio_3_largoFrase/nbproject/private/
/guia_3_ejercicio_4_validarPrimerLetra/nbproject/private/
/guia_3_ejercicio_5_hastaValorLimite/nbproject/private/
/guia_3_ejrcicio_6_menuOperacMatematicas/nbproject/private/
/guia_3_ejrcicio_6_menuOperacMatematicas/build/
/guia_3_ejercicio_6_menuOperacMatematicas/nbproject/private/
/guia_3_ejercicio_7_funciones/nbproject/private/
/guia_3_ejercicio_6_menuOperacMatematicas/build/
/guia_3_ejercicio_7_funciones/build/
/guia_3_ejercicio_8_cuadradoAsteriscos/nbproject/private/
/guia_3_ejercicio_8_cuadradoAsteriscos/build/
/guia_3_extras_1_tiempo/nbproject/private/
/guia_3_extras_1_tiempo/build/
/guia_3_extras_2/nbproject/private/
/guia_3_extras_2/build/
/guia_3_extras_3_detectarVocal/nbproject/private/
/guia_3_extras_3_detectarVocal/build/
/guia_3_extras_numerosRomanos/nbproject/private/
/guia_3_extras_numerosRomanos/build/
/guia_7_ejercicio1_objetos/build/
/guia_7_ejrcicio_ 2_objetosCircunferencia/nbproject/private/
/guia_7_ejercicio_1_objetosLibro/nbproject/private/
/guia_7_ejercicio_2_objetoCircunferencia/nbproject/private/
/guia_7_ejercicio_3_objetoOperaciones/nbproject/private/
/guia_7_ejercicio_3_objetoOperaciones/build/
/guia_7_ejercicio_4_objetoRectangulo/nbproject/private/
/guia_7_ejercicio_4_objetoRectangulo/build/
/guia_7_extras_1/nbproject/private/
/guia_7_extras_2/nbproject/private/
/guia_7_extras_2/build/
/guia_7_extras_3/nbproject/private/
/guia_7_extras_3/build/
/guia_7_extras_4/nbproject/private/
/guia_7_extras_4/build/
/guia_7_extras_5/nbproject/private/
/guia_7_extras_5/build/
/guia_7_extras_6/nbproject/private/
/guia_7_extras_6/build/
/guia_7_extras_1/build/
/guia_7_ejercicio_2_objetoCircunferencia/build/
/guia_8_manosALaObra/nbproject/private/
/guia_8_manosALaObra/build/
/guia_8_ejercicio_1_cuentaBancaria/nbproject/private/
/guia_8_ejercicio_1_cuentaBancaria/build/
/guia_8_ejercicio_1_cuentaBancaria/dist/
/guia_8_ejercicio_2_cafetera/nbproject/private/
/guia_8_ejercicio_2_cafetera/build/
/guia_8_ejercicio_3_persona/nbproject/private/
/guia_8_ejercicio_3_persona/build/
/guia_8_extras_1_raices/nbproject/private/
/guia_8_extras_1_raices/build/
/guia_8_extras_2_digitoVerificador/nbproject/private/
/guia_8_extras_2_digitoVerificador/build/
/guia_4_ejercicio_1_operaciones/nbproject/private/
/guia_4_ejercicio_1_operaciones/build/
/Guia4/Gui3Ejercicio1/nbproject/private/
/guia_9_ejercicio_1_cadena/nbproject/private/
/guia_9_ejercicio_1_cadena/build/
/guia_9_ejercicio_2_parDeNumeros/nbproject/private/
/guia_9_ejercicio_2_parDeNumeros/build/
/guia_9_ejercicio_3_arreglos/nbproject/private/
/guia_9_ejercicio_3_arreglos/build/